---
title: The Speeches of the Italian Prime Minister
author: KODE srl
date: '2020-05-21'
slug: twitter-analysis-sentiment
categories:
  - articles
tags:
  - dataviz
  - map
  - sentiment analysis
  - text analysis
  - twitter
subtitle: How Italian Twitter Users Reacted to Conte's Speeches
summary: ''
authors: []
lastmod: '2020-05-21T17:42:44+01:00'
featured: no
image:
  caption: ''
  focal_point: ''
  preview_only: no
projects: []
---

<script src="/covid19/rmarkdown-libs/htmlwidgets/htmlwidgets.js"></script>
<script src="/covid19/rmarkdown-libs/pymjs/pym.v1.js"></script>
<script src="/covid19/rmarkdown-libs/widgetframe-binding/widgetframe.js"></script>
<script src="/covid19/rmarkdown-libs/plotly-binding/plotly.js"></script>
<script src="/covid19/rmarkdown-libs/typedarray/typedarray.min.js"></script>
<script src="/covid19/rmarkdown-libs/jquery/jquery.min.js"></script>
<link href="/covid19/rmarkdown-libs/crosstalk/css/crosstalk.css" rel="stylesheet" />
<script src="/covid19/rmarkdown-libs/crosstalk/js/crosstalk.min.js"></script>
<link href="/covid19/rmarkdown-libs/plotly-htmlwidgets-css/plotly-htmlwidgets.css" rel="stylesheet" />
<script src="/covid19/rmarkdown-libs/plotly-main/plotly-latest.min.js"></script>


<p>The Italian Prime Minister, as expected, spoke several time to the population. To explain the ideas behind the severe acts developed and chosen by him and all the others government representatives. In this report I’m going to analyze the speeches and I will also try to use the texts of the tweets to see if it is possible to infer some information about the reactions of the users.</p>
<p>Please note that the charts may take a while before completely loading.</p>
<div id="a-note-on-the-methodology" class="section level2">
<h2>A note on the methodology</h2>
<p>The following sections contain analysis regarding texts of tweets and data regarding the speeches of the Italian Prime Minister about the Coronavirus crisis. All the analysis cannot be precise: in fact, the sentiment analysis is affected by the precision of the datasets used regarding the lexicons/stopwords descriptions and the evaluation (how each word, if any, is evaluated as Negative/Neutral/Positive). The Italian language has more rare resources than English, so the analysis will be influenced by this fact and can only represent an approximation.
To do the analysis we used the lexicon you can find <a href="https://github.com/opener-project/public-sentiment-lexicons/blob/master/propagation_lexicons/it/it.lemma.sy.an.hypo.rels.maxdepth5.seed500.maj.gold.csv">at this link</a> and the stopwords you can find <a href="https://github.com/stopwords-iso/stopwords-it/blob/master/raw/stop-words-italian.txt">here</a>.
You can find these datasets also in the section <a href="#">Dataset</a> available in our website.</p>
</div>
<div id="users-reactions-to-the-speeches-through-wordclouds" class="section level2">
<h2>Users Reactions to the Speeches through WordClouds</h2>
<p>In the next sections I will use the well-knwon techinque of the <strong>wordclouds</strong>. The wordcloud is a nice way to highlight frequencies of words belonging to some set of documents. I will compare in each case the wordclouds given by the word frequencies of the Prime Minister’s speeches with the most used words from tweets sent in the 4-hour interval containing the hour when speech has been given.</p>
<div id="march-4th-schools-closure" class="section level3">
<h3>March 4th, Schools closure</h3>
<p>In this speech, distributed over the social networks channels, the Prime Minister introduced some of the measures decided in order to contrast the initial phase of the epidemy. The main measure involved the closure of schools and the universities.</p>
<p>The wordcloud of the Conte’s speech, with the situation of the contagion at the moment of the speech:</p>
<div id="htmlwidget-1" style="width:100%;height:480px;" class="widgetframe html-widget"></div>
<script type="application/json" data-for="htmlwidget-1">{"x":{"url":"/covid19/articles/2020-03-24-speeches-of-the-prime-minister/index_files/figure-html//widgets/widget_unnamed-chunk-2.html","options":{"xdomain":"*","allowfullscreen":false,"lazyload":false}},"evals":[],"jsHooks":[]}</script>
<div id="htmlwidget-2" style="width:100%;height:480px;" class="widgetframe html-widget"></div>
<script type="application/json" data-for="htmlwidget-2">{"x":{"url":"/covid19/articles/2020-03-24-speeches-of-the-prime-minister/index_files/figure-html//widgets/widget_unnamed-chunk-3.html","options":{"xdomain":"*","allowfullscreen":false,"lazyload":false}},"evals":[],"jsHooks":[]}</script>
<p><br>
In this first speech the Prime Minister focused on some words that explain the severity of the moments. Since schools closure is a measure involving also parents (for everyday life organization purposes), he had to point out that this situation was becaming an <code>emergency</code> (<code>emergenza</code>) and that the <code>contagion</code> (<code>contagio</code>) was also becaming a <code>challenge</code>(<code>sfida</code>). Particular relevance was given to the terms <code>we must</code> (<code>dobbiamo</code>) and <code>country</code> (<code>paese</code>), as to underline the need to face this situation ‘together’.</p>
<p>In the following, the wordcloud generated using the words from Twitter’s messages in the period <code>2020-03-04 19:00</code> to <code>2020-03-04 23:00</code>:
<br></p>
<div id="htmlwidget-3" style="width:100%;height:480px;" class="widgetframe html-widget"></div>
<script type="application/json" data-for="htmlwidget-3">{"x":{"url":"/covid19/articles/2020-03-24-speeches-of-the-prime-minister/index_files/figure-html//widgets/widget_unnamed-chunk-4.html","options":{"xdomain":"*","allowfullscreen":false,"lazyload":false}},"evals":[],"jsHooks":[]}</script>
<p><br>
The tweets’ texts focus on the <code>emergency</code>: this was the main percieving of the people throughout the country. This is however a concitated moment and this is highlighted by some active verbs that make us think about to discussions about these measures: <code>say</code>(<code>dire</code>), <code>can</code> (<code>può</code>), <code>do</code> (<code>fa</code>). Contextually we can note also some particles used in italian during debates and controversies like <code>still</code>(<code>tanto</code>), <code>however</code> (<code>comunque</code>), that are very commons for every decision taken by some government.</p>
</div>
<div id="march-8th-northern-italy-lockdown" class="section level3">
<h3>March 8th, Northern Italy Lockdown</h3>
<p>In this speech the Prime Minister Conte announced the “closure” of a consistent part of the Northern Italy (Lombardia, part of Emilia-Romagna, several provinces of Veneto) as a measure to contain the outbreak. This was an important decision, probably the most critical in the post-war period. From now on all decisions and measurement from government will be of an unusual increasing severity, for an occidental country.</p>
<p>The wordcloud of the Conte’s speech, with the situation of the contagious at the moment of the speech:</p>
<div id="htmlwidget-4" style="width:100%;height:480px;" class="widgetframe html-widget"></div>
<script type="application/json" data-for="htmlwidget-4">{"x":{"url":"/covid19/articles/2020-03-24-speeches-of-the-prime-minister/index_files/figure-html//widgets/widget_unnamed-chunk-5.html","options":{"xdomain":"*","allowfullscreen":false,"lazyload":false}},"evals":[],"jsHooks":[]}</script>
<div id="htmlwidget-5" style="width:100%;height:480px;" class="widgetframe html-widget"></div>
<script type="application/json" data-for="htmlwidget-5">{"x":{"url":"/covid19/articles/2020-03-24-speeches-of-the-prime-minister/index_files/figure-html//widgets/widget_unnamed-chunk-6.html","options":{"xdomain":"*","allowfullscreen":false,"lazyload":false}},"evals":[],"jsHooks":[]}</script>
<p>In this speech Conte concentrates on the <code>measures</code> (<code>misure</code>) regarding <code>events</code> (<code>eventi</code> and <code>manifestazioni</code>) and on a set of <code>suspensions</code> (<code>sospensioni</code> and <code>sospeso</code>). We can note that the severity of the moment, highlighted by the lenght of the speech (the most long between the ones under-analysis), took him to use both <code>we must</code> and <code>we can</code> in an equal manner: this may indicate the will to ‘urge’ Italians to follow the rules in a difficult moment while still trying not to be alarmist.</p>
<p>Since the speech has been given late in the night, around 3 AM, the twitting activity was really low. For this reason I choose to get the tweets of the morning in this case. In the following, the wordcloud generated using the words from Twitter’s messages in the interval from <code>08:00</code> to <code>12:00</code>:
<br></p>
<div id="htmlwidget-6" style="width:100%;height:480px;" class="widgetframe html-widget"></div>
<script type="application/json" data-for="htmlwidget-6">{"x":{"url":"/covid19/articles/2020-03-24-speeches-of-the-prime-minister/index_files/figure-html//widgets/widget_unnamed-chunk-7.html","options":{"xdomain":"*","allowfullscreen":false,"lazyload":false}},"evals":[],"jsHooks":[]}</script>
<p><br>
The tweets produced in the given interval still show a focus of the italians’ point of view on the <code>emergency</code> (<code>emergenza</code>). Another interesting fact is the presence of several declinations of the verb <code>escape</code> (<code>scappano</code>, <code>scappare</code>, <code>fuggono</code>) in contrast to words like <code>they should</code> and <code>remain</code> (<code>dovrebbero</code> and <code>rimanere</code>). The high presence of these words highlight the split of the italians about the coming back of people to their families from north to their birth regions: during the night in fact, several people from northern regions assaulted trains and buses to come back home. This has been perceived as a risky decision that could have extend drastically the infection in all the country.</p>
</div>
<div id="march-9th-italy-lockdown" class="section level3">
<h3>March 9th, Italy Lockdown</h3>
<p>By importance, this is the principal speech from the start of the epidemy. In this speech the Prime Minister Conte explained the main measures decided by the minister council in order to try to slow down the numbers of contagions: among them, an important decision was the one to kindly invite the population to stay at home and to avoid contacts with other people.</p>
<p>The wordcloud of the Conte’s speech, with the situation of the contagion at the moment of the speech:</p>
<div id="htmlwidget-7" style="width:100%;height:480px;" class="widgetframe html-widget"></div>
<script type="application/json" data-for="htmlwidget-7">{"x":{"url":"/covid19/articles/2020-03-24-speeches-of-the-prime-minister/index_files/figure-html//widgets/widget_unnamed-chunk-8.html","options":{"xdomain":"*","allowfullscreen":false,"lazyload":false}},"evals":[],"jsHooks":[]}</script>
<div id="htmlwidget-8" style="width:100%;height:480px;" class="widgetframe html-widget"></div>
<script type="application/json" data-for="htmlwidget-8">{"x":{"url":"/covid19/articles/2020-03-24-speeches-of-the-prime-minister/index_files/figure-html//widgets/widget_unnamed-chunk-9.html","options":{"xdomain":"*","allowfullscreen":false,"lazyload":false}},"evals":[],"jsHooks":[]}</script>
<p>The core point of the speech is <code>health</code> (<code>salute</code>), but we can see how there are important words remanding to the Italians the need to be responsible and to act with ‘responsibility’ during this moment that will change the <code>habits</code> (<code>abitudini</code>) of the people.</p>
<p>In the following, the wordcloud generated using the words from Twitter’s messages in the period <code>20:00</code> to <code>00:00</code>:</p>
<div id="htmlwidget-9" style="width:100%;height:480px;" class="widgetframe html-widget"></div>
<script type="application/json" data-for="htmlwidget-9">{"x":{"url":"/covid19/articles/2020-03-24-speeches-of-the-prime-minister/index_files/figure-html//widgets/widget_unnamed-chunk-10.html","options":{"xdomain":"*","allowfullscreen":false,"lazyload":false}},"evals":[],"jsHooks":[]}</script>
<p><br>
In this case the tweets put in evidence how sufferings and concerns are summarized by the word <code>Italia</code>, around which we can find the most different feelings: <code>emergency</code> (<code>emergenza</code>), <code>understand</code> (<code>capito</code>), <code>prohibition</code> (<code>divieto</code>), <code>I hope</code> (<code>spero</code>), <code>reinforce</code> (<code>rafforzare</code>).</p>
</div>
<div id="march-11th-more-severe-restrictions" class="section level3">
<h3>March 11th, More Severe Restrictions</h3>
<p>With this speech, the Prime Minister Conte announced more severe restrictions regarding the circulation of the people and the opening of all the non-primary services and activites, like shops (except markets), gyms, conferences, and so on, while industries will keep going on with their production.</p>
<p>The wordcloud of the Conte’s speech, with the situation of the contagion at the moment of the speech:</p>
<div id="htmlwidget-10" style="width:100%;height:480px;" class="widgetframe html-widget"></div>
<script type="application/json" data-for="htmlwidget-10">{"x":{"url":"/covid19/articles/2020-03-24-speeches-of-the-prime-minister/index_files/figure-html//widgets/widget_unnamed-chunk-11.html","options":{"xdomain":"*","allowfullscreen":false,"lazyload":false}},"evals":[],"jsHooks":[]}</script>
<div id="htmlwidget-11" style="width:100%;height:480px;" class="widgetframe html-widget"></div>
<script type="application/json" data-for="htmlwidget-11">{"x":{"url":"/covid19/articles/2020-03-24-speeches-of-the-prime-minister/index_files/figure-html//widgets/widget_unnamed-chunk-12.html","options":{"xdomain":"*","allowfullscreen":false,"lazyload":false}},"evals":[],"jsHooks":[]}</script>
<p>At this moment the Prime Minister was trying to recall all the country to the sense of the <code>community</code> (<code>comunità</code>) and to reinforce the hope in the <code>great</code> <code>country</code> (<code>grande</code> and <code>paese</code>). This because the new measures was tightening for several <code>activites</code> (<code>attività</code>), and again we can see a need to balance between the explaining of those measure with words of hope.</p>
<p>In the following, the wordcloud generated using the words from Twitter’s messages in the period <code>20:00</code> to <code>00:00</code>:</p>
<div id="htmlwidget-12" style="width:100%;height:480px;" class="widgetframe html-widget"></div>
<script type="application/json" data-for="htmlwidget-12">{"x":{"url":"/covid19/articles/2020-03-24-speeches-of-the-prime-minister/index_files/figure-html//widgets/widget_unnamed-chunk-13.html","options":{"xdomain":"*","allowfullscreen":false,"lazyload":false}},"evals":[],"jsHooks":[]}</script>
<p><br>
The reaction from twitters messages did not change from the previous day.</p>
</div>
<div id="march-21th-closing-of-industries-and-non-essential-services" class="section level3">
<h3>March 21th, Closing of industries and non-essential services</h3>
<p>In this conference, the Prime Minister has accepted the demands coming from regions’ governors and other ministers to thighten the measures. The situation of the contagion at this point is critical in some regions, in particular in the north. Industries, except the ones providing essential services, will be closed and will stop the production and the fines for prohibited behaviours has been increased. In several regions the army was flanking the police in controls and patrol.</p>
<div id="htmlwidget-13" style="width:100%;height:480px;" class="widgetframe html-widget"></div>
<script type="application/json" data-for="htmlwidget-13">{"x":{"url":"/covid19/articles/2020-03-24-speeches-of-the-prime-minister/index_files/figure-html//widgets/widget_unnamed-chunk-14.html","options":{"xdomain":"*","allowfullscreen":false,"lazyload":false}},"evals":[],"jsHooks":[]}</script>
<div id="htmlwidget-14" style="width:100%;height:480px;" class="widgetframe html-widget"></div>
<script type="application/json" data-for="htmlwidget-14">{"x":{"url":"/covid19/articles/2020-03-24-speeches-of-the-prime-minister/index_files/figure-html//widgets/widget_unnamed-chunk-15.html","options":{"xdomain":"*","allowfullscreen":false,"lazyload":false}},"evals":[],"jsHooks":[]}</script>
<p>Also in this case we have a speech focused on <code>activity</code> (<code>attivià</code>) and <code>services</code> (<code>servizi</code>): in particular, Conte had to further specify that markets will not close and then that there is no need to rush for groceries.</p>
<p>Since even this speech has been given late in the evening, around 11.30 PM, the twitting activity was really low. For this reason I choose to get the tweets of the morning even in this case. In the following, the wordcloud generated using the words from Twitter’s messages in the interval from <code>08:00</code> to <code>12:00</code>:
<br></p>
<div id="htmlwidget-15" style="width:100%;height:480px;" class="widgetframe html-widget"></div>
<script type="application/json" data-for="htmlwidget-15">{"x":{"url":"/covid19/articles/2020-03-24-speeches-of-the-prime-minister/index_files/figure-html//widgets/widget_unnamed-chunk-16.html","options":{"xdomain":"*","allowfullscreen":false,"lazyload":false}},"evals":[],"jsHooks":[]}</script>
</div>
<div id="april-10th-lockdown-extended-for-three-more-weeks" class="section level3">
<h3>April 10th, Lockdown Extended for Three more Weeks</h3>
<p>With the speech given on April the 10th, the prime minster Conte focused on several different topics. In particular he extended the lockdown period to May the 4th, announced the reopenings of some shops (e.g. bookshops), and heavily criticized the opposition’s leaders about their approach to the discussion on the european MES mechanism.</p>
<div id="htmlwidget-16" style="width:100%;height:480px;" class="widgetframe html-widget"></div>
<script type="application/json" data-for="htmlwidget-16">{"x":{"url":"/covid19/articles/2020-03-24-speeches-of-the-prime-minister/index_files/figure-html//widgets/widget_unnamed-chunk-17.html","options":{"xdomain":"*","allowfullscreen":false,"lazyload":false}},"evals":[],"jsHooks":[]}</script>
<div id="htmlwidget-17" style="width:100%;height:480px;" class="widgetframe html-widget"></div>
<script type="application/json" data-for="htmlwidget-17">{"x":{"url":"/covid19/articles/2020-03-24-speeches-of-the-prime-minister/index_files/figure-html//widgets/widget_unnamed-chunk-18.html","options":{"xdomain":"*","allowfullscreen":false,"lazyload":false}},"evals":[],"jsHooks":[]}</script>
<p>From the wordcloud we can see how the words identify the previous topics: the extension of the lockdown through the words <code>security</code> (<code>sicurezza</code>), <code>we must</code> (<code>dobbiamo</code>), <code>experts</code> (<code>esperti</code>); the first reopenings through the words <code>restart</code> (<code>ripartire</code>), <code>activity</code> (<code>attività</code>), <code>security</code> (<code>sicurezza</code>); finally the MES topic with the words <code>MES</code>, <code>instrument</code> (<code>strumento</code>), <code>eurobond</code>, <code>countries</code> (<code>stati</code>).</p>
<p>In the following, the wordcloud generated using the words from Twitter’s messages in the period <code>20:00</code> to <code>00:00</code>:
<br></p>
<div id="htmlwidget-18" style="width:100%;height:480px;" class="widgetframe html-widget"></div>
<script type="application/json" data-for="htmlwidget-18">{"x":{"url":"/covid19/articles/2020-03-24-speeches-of-the-prime-minister/index_files/figure-html//widgets/widget_unnamed-chunk-19.html","options":{"xdomain":"*","allowfullscreen":false,"lazyload":false}},"evals":[],"jsHooks":[]}</script>
<p>From the tweets we see that <code>emergency</code> (<code>emergenza</code>) is still the most used word, but we don’t have any focus from these messages on the topics faced by the prime minister.</p>
</div>
<div id="april-26th-preparation-to-reopenings" class="section level3">
<h3>April 26th, Preparation to Reopenings</h3>
<p>This conference was focused on the loosen of the lockdown’s restrictions. Some industries had the possibility to open, complying the govenrment security measures; economic measurment to support population and economical activities was announced; last, but not least, was announced the approach to the Phase 2 of the crisis management, i.e. the end of the lockdown.</p>
<div id="htmlwidget-19" style="width:100%;height:480px;" class="widgetframe html-widget"></div>
<script type="application/json" data-for="htmlwidget-19">{"x":{"url":"/covid19/articles/2020-03-24-speeches-of-the-prime-minister/index_files/figure-html//widgets/widget_unnamed-chunk-20.html","options":{"xdomain":"*","allowfullscreen":false,"lazyload":false}},"evals":[],"jsHooks":[]}</script>
<div id="htmlwidget-20" style="width:100%;height:480px;" class="widgetframe html-widget"></div>
<script type="application/json" data-for="htmlwidget-20">{"x":{"url":"/covid19/articles/2020-03-24-speeches-of-the-prime-minister/index_files/figure-html//widgets/widget_unnamed-chunk-21.html","options":{"xdomain":"*","allowfullscreen":false,"lazyload":false}},"evals":[],"jsHooks":[]}</script>
<p>This was the most long conference of the ones we analyzed. The end of the lockdown and the restart of the industrial activities, <code>activities</code> (<code>attivita</code>) <code>companies</code> (<code>imprese</code>) was announced using a lot of words inviting to be careful within the subsequent phases of the crisis: <code>warning</code> (<code>attenzione</code>), <code>respect</code> (<code>rispetto</code>), <code>security</code> (<code>sicurezza</code>), <code>distances</code> (<code>distanze</code>).</p>
<p>In the following, the wordcloud generated using the words from Twitter’s messages in the period <code>20:00</code> to <code>00:00</code>:
<br></p>
<div id="htmlwidget-21" style="width:100%;height:480px;" class="widgetframe html-widget"></div>
<script type="application/json" data-for="htmlwidget-21">{"x":{"url":"/covid19/articles/2020-03-24-speeches-of-the-prime-minister/index_files/figure-html//widgets/widget_unnamed-chunk-22.html","options":{"xdomain":"*","allowfullscreen":false,"lazyload":false}},"evals":[],"jsHooks":[]}</script>
<p>The set of tweets we took in this case highlight in a very clear way the focus on the discussions: the word emergency was substituded with the word <code>phase</code> (<code>fase</code>): in fact there were lot of discussion about the decisions took by the government focused on the management of the transition from the Phase 1 of the emergency, the lockdown, to the announced Phase 2. This because several people was convinced that the announced transition and measures didn’t lead to a real end of lockdown.
Many persons renamed this transition to phase the one and a half.</p>
</div>
<div id="may-16th-preparation-to-reopenings" class="section level3">
<h3>May 16th, Preparation to Reopenings</h3>
<p>This was the last speech we monitored. All the measures and all the announcements involved the real Phase 2, i.e. the end of the country lockdown.</p>
<div id="htmlwidget-22" style="width:100%;height:480px;" class="widgetframe html-widget"></div>
<script type="application/json" data-for="htmlwidget-22">{"x":{"url":"/covid19/articles/2020-03-24-speeches-of-the-prime-minister/index_files/figure-html//widgets/widget_unnamed-chunk-23.html","options":{"xdomain":"*","allowfullscreen":false,"lazyload":false}},"evals":[],"jsHooks":[]}</script>
<div id="htmlwidget-23" style="width:100%;height:480px;" class="widgetframe html-widget"></div>
<script type="application/json" data-for="htmlwidget-23">{"x":{"url":"/covid19/articles/2020-03-24-speeches-of-the-prime-minister/index_files/figure-html//widgets/widget_unnamed-chunk-24.html","options":{"xdomain":"*","allowfullscreen":false,"lazyload":false}},"evals":[],"jsHooks":[]}</script>
<p>The words used in this conference still insist on the security and economic aspects of the end of the lockdown. But in this case we can see an interesting reaction from the tweets texts.</p>
<div id="htmlwidget-24" style="width:100%;height:480px;" class="widgetframe html-widget"></div>
<script type="application/json" data-for="htmlwidget-24">{"x":{"url":"/covid19/articles/2020-03-24-speeches-of-the-prime-minister/index_files/figure-html//widgets/widget_unnamed-chunk-25.html","options":{"xdomain":"*","allowfullscreen":false,"lazyload":false}},"evals":[],"jsHooks":[]}</script>
<p><code>emergency</code> (<code>emergenza</code>), <code>phase</code> (<code>fase</code>), and <code>reopenings</code> (<code>riaperture</code>) dominate over all the other words. This follows the public opinion debate about the need of starts a “new normality” against the need of maintain high the security level to avoid a ‘second wave’ of contagions.</p>
</div>
</div>
<div id="sentiment-analysis" class="section level2">
<h2>Sentiment Analysis</h2>
<p>In this section I will go deeper analyzing the speeches of the Italian Prime Minister from the point of view of the sentiment. As a first approximation, I can plot the overall sentiment of each speech and compare it to the number of the infected people at the time of the speech. This will intuitively give an approximated visualization of the severity of the speech given every specific moment of the crisis.
To get a score of the sentiment for each speech I basically removed from each one the stopwords and the punctuation, then I assigned to each word the sentiment score from the lexicon shown in the first section of this document. The sentiment of the speech is then given by the sum of all the scores, a zero score were assigned to the words not present in the lexicon, divided the number of words used, excluding hashtags and stopwords.
The results are summarized in the next chart. The line represents the trend of total cases (infected + home isolation), while the bubbles represent the speeches. The size of the bubbles represents the number of words (total lenght of the speech, stopwords included) of each speech.</p>
<div id="htmlwidget-25" style="width:672px;height:480px;" class="plotly html-widget"></div>
<script type="application/json" data-for="htmlwidget-25">{"x":{"data":[{"x":[18319,18320,18321,18322,18323,18324,18325,18326,18327,18328,18329,18330,18331,18332,18333,18334,18335,18336,18337,18338,18339,18340,18341,18342,18343,18344,18345,18346,18347,18348,18349,18350,18351,18352,18353,18354,18355,18356,18357,18358,18359,18360,18361,18362,18363,18364,18365,18366,18367,18368,18369,18370,18371,18372,18373,18374,18375,18376,18377,18378,18379,18380,18381,18382,18383,18384,18385,18386,18387,18388,18389,18390,18391,18392,18393,18394,18395,18396,18397,18398,18399],"y":[650,888,1128,1694,2036,2502,3089,3858,4636,5883,7375,9172,10149,12462,15113,17660,21157,24747,27980,31506,35713,41035,47021,53578,59138,63927,69176,74386,80539,86498,92472,97689,101739,105792,110574,115242,119827,124632,128948,132547,135586,139422,143626,147577,152271,156363,159516,162488,165155,168941,172434,175925,178972,181228,183957,187327,189973,192994,195351,197675,199414,201505,203591,205463,207428,209328,210717,211938,213013,214457,215858,217185,218268,219070,219814,221216,222104,223096,223885,224760,225435],"text":["data: 2020-02-27<br />totale_casi:    650","data: 2020-02-28<br />totale_casi:    888","data: 2020-02-29<br />totale_casi:   1128","data: 2020-03-01<br />totale_casi:   1694","data: 2020-03-02<br />totale_casi:   2036","data: 2020-03-03<br />totale_casi:   2502","data: 2020-03-04<br />totale_casi:   3089","data: 2020-03-05<br />totale_casi:   3858","data: 2020-03-06<br />totale_casi:   4636","data: 2020-03-07<br />totale_casi:   5883","data: 2020-03-08<br />totale_casi:   7375","data: 2020-03-09<br />totale_casi:   9172","data: 2020-03-10<br />totale_casi:  10149","data: 2020-03-11<br />totale_casi:  12462","data: 2020-03-12<br />totale_casi:  15113","data: 2020-03-13<br />totale_casi:  17660","data: 2020-03-14<br />totale_casi:  21157","data: 2020-03-15<br />totale_casi:  24747","data: 2020-03-16<br />totale_casi:  27980","data: 2020-03-17<br />totale_casi:  31506","data: 2020-03-18<br />totale_casi:  35713","data: 2020-03-19<br />totale_casi:  41035","data: 2020-03-20<br />totale_casi:  47021","data: 2020-03-21<br />totale_casi:  53578","data: 2020-03-22<br />totale_casi:  59138","data: 2020-03-23<br />totale_casi:  63927","data: 2020-03-24<br />totale_casi:  69176","data: 2020-03-25<br />totale_casi:  74386","data: 2020-03-26<br />totale_casi:  80539","data: 2020-03-27<br />totale_casi:  86498","data: 2020-03-28<br />totale_casi:  92472","data: 2020-03-29<br />totale_casi:  97689","data: 2020-03-30<br />totale_casi: 101739","data: 2020-03-31<br />totale_casi: 105792","data: 2020-04-01<br />totale_casi: 110574","data: 2020-04-02<br />totale_casi: 115242","data: 2020-04-03<br />totale_casi: 119827","data: 2020-04-04<br />totale_casi: 124632","data: 2020-04-05<br />totale_casi: 128948","data: 2020-04-06<br />totale_casi: 132547","data: 2020-04-07<br />totale_casi: 135586","data: 2020-04-08<br />totale_casi: 139422","data: 2020-04-09<br />totale_casi: 143626","data: 2020-04-10<br />totale_casi: 147577","data: 2020-04-11<br />totale_casi: 152271","data: 2020-04-12<br />totale_casi: 156363","data: 2020-04-13<br />totale_casi: 159516","data: 2020-04-14<br />totale_casi: 162488","data: 2020-04-15<br />totale_casi: 165155","data: 2020-04-16<br />totale_casi: 168941","data: 2020-04-17<br />totale_casi: 172434","data: 2020-04-18<br />totale_casi: 175925","data: 2020-04-19<br />totale_casi: 178972","data: 2020-04-20<br />totale_casi: 181228","data: 2020-04-21<br />totale_casi: 183957","data: 2020-04-22<br />totale_casi: 187327","data: 2020-04-23<br />totale_casi: 189973","data: 2020-04-24<br />totale_casi: 192994","data: 2020-04-25<br />totale_casi: 195351","data: 2020-04-26<br />totale_casi: 197675","data: 2020-04-27<br />totale_casi: 199414","data: 2020-04-28<br />totale_casi: 201505","data: 2020-04-29<br />totale_casi: 203591","data: 2020-04-30<br />totale_casi: 205463","data: 2020-05-01<br />totale_casi: 207428","data: 2020-05-02<br />totale_casi: 209328","data: 2020-05-03<br />totale_casi: 210717","data: 2020-05-04<br />totale_casi: 211938","data: 2020-05-05<br />totale_casi: 213013","data: 2020-05-06<br />totale_casi: 214457","data: 2020-05-07<br />totale_casi: 215858","data: 2020-05-08<br />totale_casi: 217185","data: 2020-05-09<br />totale_casi: 218268","data: 2020-05-10<br />totale_casi: 219070","data: 2020-05-11<br />totale_casi: 219814","data: 2020-05-12<br />totale_casi: 221216","data: 2020-05-13<br />totale_casi: 222104","data: 2020-05-14<br />totale_casi: 223096","data: 2020-05-15<br />totale_casi: 223885","data: 2020-05-16<br />totale_casi: 224760","data: 2020-05-17<br />totale_casi: 225435"],"type":"scatter","mode":"lines","line":{"width":1.88976377952756,"color":"rgba(61,72,73,1)","dash":"solid"},"hoveron":"points","showlegend":false,"xaxis":"x","yaxis":"y","hoverinfo":"text","frame":null},{"x":[18325,18329,18330,18332,18342,18362,18378,18398],"y":[3089,7375,9172,12462,53578,147577,197675,224760],"text":["date: 2020-03-04<br />temp:   3089<br />sentiment: 0.2229940<br />data: 2020-03-04<br />totale_casi:   3089","date: 2020-03-08<br />temp:   7375<br />sentiment: 0.1403838<br />data: 2020-03-08<br />totale_casi:   7375","date: 2020-03-09<br />temp:   9172<br />sentiment: 0.1901106<br />data: 2020-03-09<br />totale_casi:   9172","date: 2020-03-11<br />temp:  12462<br />sentiment: 0.1753956<br />data: 2020-03-11<br />totale_casi:  12462","date: 2020-03-21<br />temp:  53578<br />sentiment: 0.1431634<br />data: 2020-03-21<br />totale_casi:  53578","date: 2020-04-10<br />temp: 147577<br />sentiment: 0.1762117<br />data: 2020-04-10<br />totale_casi: 147577","date: 2020-04-26<br />temp: 197675<br />sentiment: 0.1676502<br />data: 2020-04-26<br />totale_casi: 197675","date: 2020-05-16<br />temp: 224760<br />sentiment: 0.1444639<br />data: 2020-05-16<br />totale_casi: 224760"],"type":"scatter","mode":"markers","marker":{"autocolorscale":false,"color":["rgba(161,232,161,1)","rgba(255,255,194,1)","rgba(200,242,174,1)","rgba(216,246,180,1)","rgba(252,254,193,1)","rgba(216,245,180,1)","rgba(225,248,183,1)","rgba(251,254,192,1)"],"opacity":1,"size":[9.24441387104303,22.9415160858403,8.38551967275541,13.3580650312627,8.83756925080153,29.6318498409228,43.4645669291339,17.0196666134362],"symbol":"circle","line":{"width":1.88976377952756,"color":["rgba(161,232,161,1)","rgba(255,255,194,1)","rgba(200,242,174,1)","rgba(216,246,180,1)","rgba(252,254,193,1)","rgba(216,245,180,1)","rgba(225,248,183,1)","rgba(251,254,192,1)"]}},"hoveron":"points","showlegend":false,"xaxis":"x","yaxis":"y","hoverinfo":"text","frame":null},{"x":[18322],"y":[0],"name":"99_f595d1b7a86118796873ab7bdf96f64f","type":"scatter","mode":"markers","opacity":0,"hoverinfo":"skip","showlegend":false,"marker":{"color":[0,1],"colorscale":[[0,"#FFFFC2"],[0.0526315789473683,"#FAFEC0"],[0.105263157894737,"#F6FDBE"],[0.157894736842105,"#F1FCBD"],[0.210526315789474,"#ECFABB"],[0.263157894736842,"#E7F9B9"],[0.315789473684211,"#E2F8B7"],[0.368421052631579,"#DEF7B6"],[0.421052631578948,"#D9F6B4"],[0.473684210526316,"#D4F4B2"],[0.526315789473684,"#CFF3B0"],[0.578947368421053,"#CAF2AF"],[0.631578947368421,"#C5F1AD"],[0.684210526315789,"#C0F0AB"],[0.736842105263158,"#BBEEAA"],[0.789473684210526,"#B6EDA8"],[0.842105263157895,"#B1ECA6"],[0.894736842105263,"#ACEBA4"],[0.947368421052631,"#A6E9A3"],[1,"#A1E8A1"]],"colorbar":{"bgcolor":null,"bordercolor":null,"borderwidth":0,"thickness":23.04,"title":"sentiment","titlefont":{"color":"rgba(0,0,0,1)","family":"","size":14.6118721461187},"tickmode":"array","ticktext":["0.16","0.18","0.20","0.22"],"tickvals":[0.237455422513505,0.479556184195978,0.721656945878451,0.963757707560925],"tickfont":{"color":"rgba(0,0,0,1)","family":"","size":11.689497716895},"ticklen":2,"len":0.5}},"xaxis":"x","yaxis":"y","frame":null}],"layout":{"margin":{"t":26.2283105022831,"r":7.30593607305936,"b":40.1826484018265,"l":60.6392694063927},"font":{"color":"rgba(0,0,0,1)","family":"","size":14.6118721461187},"xaxis":{"domain":[0,1],"automargin":true,"type":"linear","autorange":false,"range":[18315,18403],"tickmode":"array","ticktext":["mar","apr","mag"],"tickvals":[18322,18353,18383],"categoryorder":"array","categoryarray":["mar","apr","mag"],"nticks":null,"ticks":"","tickcolor":null,"ticklen":3.65296803652968,"tickwidth":0,"showticklabels":true,"tickfont":{"color":"rgba(77,77,77,1)","family":"","size":11.689497716895},"tickangle":-0,"showline":false,"linecolor":null,"linewidth":0,"showgrid":true,"gridcolor":"rgba(235,235,235,1)","gridwidth":0.66417600664176,"zeroline":false,"anchor":"y","title":{"text":"Date","font":{"color":"rgba(0,0,0,1)","family":"","size":14.6118721461187}},"hoverformat":".2f"},"yaxis":{"domain":[0,1],"automargin":true,"type":"linear","autorange":false,"range":[-10589.25,236674.25],"tickmode":"array","ticktext":["0","50000","100000","150000","200000"],"tickvals":[0,50000,100000,150000,200000],"categoryorder":"array","categoryarray":["0","50000","100000","150000","200000"],"nticks":null,"ticks":"","tickcolor":null,"ticklen":3.65296803652968,"tickwidth":0,"showticklabels":true,"tickfont":{"color":"rgba(77,77,77,1)","family":"","size":11.689497716895},"tickangle":-0,"showline":false,"linecolor":null,"linewidth":0,"showgrid":true,"gridcolor":"rgba(235,235,235,1)","gridwidth":0.66417600664176,"zeroline":false,"anchor":"x","title":{"text":"Total Cases","font":{"color":"rgba(0,0,0,1)","family":"","size":14.6118721461187}},"hoverformat":".2f"},"shapes":[{"type":"rect","fillcolor":null,"line":{"color":null,"width":0,"linetype":[]},"yref":"paper","xref":"paper","x0":0,"x1":1,"y0":0,"y1":1}],"showlegend":false,"legend":{"bgcolor":null,"bordercolor":null,"borderwidth":0,"font":{"color":"rgba(0,0,0,1)","family":"","size":11.689497716895}},"hovermode":"closest","barmode":"relative"},"config":{"doubleClick":"reset","showSendToCloud":false},"source":"A","attrs":{"14d0300d18dd":{"x":{},"y":{},"type":"scatter"},"14d07e8a145a":{"x":{},"y":{},"colour":{},"x.1":{},"y.1":{}}},"cur_data":"14d0300d18dd","visdat":{"14d0300d18dd":["function (y) ","x"],"14d07e8a145a":["function (y) ","x"]},"highlight":{"on":"plotly_click","persistent":false,"dynamic":false,"selectize":false,"opacityDim":0.2,"selected":{"opacity":1},"debounce":0},"shinyEvents":["plotly_hover","plotly_click","plotly_selected","plotly_relayout","plotly_brushed","plotly_brushing","plotly_clickannotation","plotly_doubleclick","plotly_deselect","plotly_afterplot"],"base_url":"https://plot.ly"},"evals":[],"jsHooks":[]}</script>
<p>We already noted during the analysis made with the wordclouds that the more severe speeches are in correspondence of the two most important decisions: the Northern Italy lockdown, with the first set of restrictions to the movements and to the jobs; the closure of all inessential activities, industries included. Anyway, each speech has on average a neutral score, but at the same time we can see tendencies to more positive sentiments than negative.
It is only a guess, but I think is perfectly normal to obtain values like that for institutional communications in cases like these. They comply to the need of rigorouness but include a bit of positiveness in order to try to better transmit severe change in habits of so many people happening in a so small time period.
If we unroll the speech we can see a trend that matches the last observation. In the next chart I’m going to show is the detail of the sentiment for each speech. Here, the sentiment is calculated for groups of words instead. To do that I shoud have the precise number of sentences for each speech, calculate an average length of the sentences, then group words by this value.
Since we have the written of only two of the five speeches, while the other three have been taken from automatic transcriptions, I couldn’t did this operation precisely: what I do is to calculate the average lenght of the sentences on the two speeches originally taken in their written form, and then assume this value valid for all. The calculated average is equal to 18 words.</p>
<p><img src="/covid19/articles/2020-03-24-speeches-of-the-prime-minister/index_files/figure-html/unnamed-chunk-28-1.png" width="672" /></p>
<p>As I said, it is possible to note this sinusoidal trend of the speeches: the alternance of neutral parts to parts that ‘increase’ the positivity may be explained by the need to maintain rigorousness and to avoid to create alarmism.</p>
</div>
<div id="sentiment-of-the-tweets" class="section level2">
<h2>Sentiment of the tweets</h2>
<p>In this section I will analyze the sentiment of the tweets wrote in a period close to the speeches presented above.
As done with the speeches, I will use the scale {Negative, Neutral, Positive} to calculate and to visualize the overall sentiment of a tweet.
One aspect we can explore for all the subsets of tweets involved is the comparison of the distribution for these tweets.
To execute the analysis I tried to do the best to delete from the texts of the tweets all those components that does not concur to a correct sentiment evaluation: I tried to apply some heuristics to remove links, hashtags, and other symbols that are not relevant for the calculus. To calculate the sentiment score I applied the same technique and lexicon seen in the previous section for the analysis of the spechees of the Italian Prime Minister.
In the next five charts I then plot the tweets in this way: I used the number of likes and retweets for the x-axis and for the y-axis respectively: both axis are represented on a logarithmic scale. Each bubble corresponds to a tweet, while the bubble color represents the score of the sentiment. The size of each bubble represents the number of words usable (and that have been effectively used) for the sentiment calculation.
If you move over a bubble it is possible to read also the original tweet into the tooltip.</p>
<div id="htmlwidget-26" style="width:100%;height:480px;" class="widgetframe html-widget"></div>
<script type="application/json" data-for="htmlwidget-26">{"x":{"url":"/covid19/articles/2020-03-24-speeches-of-the-prime-minister/index_files/figure-html//widgets/widget_unnamed-chunk-31.html","options":{"xdomain":"*","allowfullscreen":false,"lazyload":false}},"evals":[],"jsHooks":[]}</script>
<div id="htmlwidget-27" style="width:100%;height:480px;" class="widgetframe html-widget"></div>
<script type="application/json" data-for="htmlwidget-27">{"x":{"url":"/covid19/articles/2020-03-24-speeches-of-the-prime-minister/index_files/figure-html//widgets/widget_unnamed-chunk-32.html","options":{"xdomain":"*","allowfullscreen":false,"lazyload":false}},"evals":[],"jsHooks":[]}</script>
<div id="htmlwidget-28" style="width:100%;height:480px;" class="widgetframe html-widget"></div>
<script type="application/json" data-for="htmlwidget-28">{"x":{"url":"/covid19/articles/2020-03-24-speeches-of-the-prime-minister/index_files/figure-html//widgets/widget_unnamed-chunk-33.html","options":{"xdomain":"*","allowfullscreen":false,"lazyload":false}},"evals":[],"jsHooks":[]}</script>
<div id="htmlwidget-29" style="width:100%;height:480px;" class="widgetframe html-widget"></div>
<script type="application/json" data-for="htmlwidget-29">{"x":{"url":"/covid19/articles/2020-03-24-speeches-of-the-prime-minister/index_files/figure-html//widgets/widget_unnamed-chunk-34.html","options":{"xdomain":"*","allowfullscreen":false,"lazyload":false}},"evals":[],"jsHooks":[]}</script>
<div id="htmlwidget-30" style="width:100%;height:480px;" class="widgetframe html-widget"></div>
<script type="application/json" data-for="htmlwidget-30">{"x":{"url":"/covid19/articles/2020-03-24-speeches-of-the-prime-minister/index_files/figure-html//widgets/widget_unnamed-chunk-35.html","options":{"xdomain":"*","allowfullscreen":false,"lazyload":false}},"evals":[],"jsHooks":[]}</script>
<div id="htmlwidget-31" style="width:100%;height:480px;" class="widgetframe html-widget"></div>
<script type="application/json" data-for="htmlwidget-31">{"x":{"url":"/covid19/articles/2020-03-24-speeches-of-the-prime-minister/index_files/figure-html//widgets/widget_unnamed-chunk-36.html","options":{"xdomain":"*","allowfullscreen":false,"lazyload":false}},"evals":[],"jsHooks":[]}</script>
<div id="htmlwidget-32" style="width:100%;height:480px;" class="widgetframe html-widget"></div>
<script type="application/json" data-for="htmlwidget-32">{"x":{"url":"/covid19/articles/2020-03-24-speeches-of-the-prime-minister/index_files/figure-html//widgets/widget_unnamed-chunk-37.html","options":{"xdomain":"*","allowfullscreen":false,"lazyload":false}},"evals":[],"jsHooks":[]}</script>
<div id="htmlwidget-33" style="width:100%;height:480px;" class="widgetframe html-widget"></div>
<script type="application/json" data-for="htmlwidget-33">{"x":{"url":"/covid19/articles/2020-03-24-speeches-of-the-prime-minister/index_files/figure-html//widgets/widget_unnamed-chunk-38.html","options":{"xdomain":"*","allowfullscreen":false,"lazyload":false}},"evals":[],"jsHooks":[]}</script>
<p>We can see that the distribution of the tweets has a neutral tendency, a bit skewed in favour of positive tweets.
Anyway this is only a rough estimation (sometimes wrong for those tweets with a low number of words) that must be improved. For example, we didn’t even take into account the typing errors, that probably have an important impact on a communication made through a social network.
An interesting aspect to note is that, over a certain value of likes we have clearly visible a strong linear correlation between likes and retweets.</p>
</div>
