---
title: Visualizzazione e analisi dati USL Toscana Nord Ovest
author: KODE srl
date: '2020-03-20'
slug: analisi-esplorativa-usl-data
categories:
  - infographics
tags:
  - dataviz
subtitle: ''
summary: ''
math: true
authors: []
lastmod: '2020-03-20T17:20:09+01:00'
featured: no
image:
  caption: ''
  focal_point: ''
  preview_only: yes
  placement: 1
projects: []
---

<script src="/covid19/rmarkdown-libs/kePrint/kePrint.js"></script>


<p>I dati utilizzati per le visualizzazioni sono stati presi dal sito dell’ <strong>Azienda Usl Toscana Nord Ovest</strong> (vedi sezione <a href="#references">References</a>) e coprono l’intervallo temporale che va dal 2020-02-27 al 2020-03-15, ultimo giorno in cui sono stati forniti i dati in forma non aggregata per macro-zone.</p>
<p>I dati raccolti contengono:</p>
<ul>
<li>informazioni anagrafiche (<em>età</em>, <em>sesso</em>) del soggetto contagiato;</li>
<li>informazioni sul contagio (<em>luogo</em> e <em>data</em> in cui è stato registrato il caso);</li>
<li>informazioni sulla gestione e evoluzione del caso (<em>domicilio</em>, <em>ricovero</em>, <em>terapia intensiva</em> e/o <em>dimissione</em>, <em>decesso</em> del paziente).</li>
</ul>
<p>Da notare che, nel caso in cui ci sia stato un cambiamento nello stato di salute (ad esempio da ricoverato a dimesso o da terapia intensiva a decesso), lo stesso paziente comparirà più volte nei dati.</p>
<p>Attualmente il dataset utilizzato consta di 293 pazienti distinti, di cui 11 osservati più di una volta.</p>
<div id="distribuzione-dei-casi-per-fasce-deta" class="section level2">
<h2>Distribuzione dei casi per fasce d’età</h2>
<p><img src="/covid19/infographic/2020-03-20-analisi-esplorativa-usl-data/index_files/figure-html/distribuzione%20fasce%20eta-1.png" width="672" style="display: block; margin: auto;" /></p>
<p>Dal grafico si può notare che nessuna fascia d’età è indenne al virus ma quelle più colpite sono le fasce dai 40 ai 90 anni. La malattia colpisce in modo più grave i soggetti con più di 50 anni, portando al decesso soprattutto pazienti over 70.</p>
</div>
<div id="evoluzione-temporale-del-numero-di-casi" class="section level2">
<h2>Evoluzione temporale del numero di casi</h2>
<p>In questa sezione si fa riferimento al numero di casi di contagio registrati: di conseguenza viene considerata soltanto la prima osservazione che si ha per ogni paziente, escludendo quindi decessi e dimessi.</p>
<div id="suddivisione-per-sesso" class="section level3">
<h3>Suddivisione per sesso</h3>
<p><img src="/covid19/infographic/2020-03-20-analisi-esplorativa-usl-data/index_files/figure-html/barplot%20mf-1.png" width="672" style="display: block; margin: auto;" /></p>
<p>Il numero di nuovi casi registrati nel periodo considerato è globalmente aumentato sia per quanto riguarda le donne che gli uomini. Inoltre risultano esserci più pazienti colpiti dal virus di sesso maschile piuttosto che femminile.</p>
</div>
<div id="incremento-percentuale" class="section level3">
<h3>Incremento percentuale</h3>
<p>Il grafico rappresenta l’incremento/decremento percentuale giornaliero del numero di casi, ottenuto mediante il seguente calcolo:</p>
<p><span class="math display">\[
\begin{equation}
\frac{n_{t+1} - n_{t}}{n_{t}} \cdot 100
\end{equation}
\]</span>
dove <em><span class="math inline">\(n_t\)</span></em> è il numero di nuovi casi registrati al tempo <em>t</em>.</p>
<p><img src="/covid19/infographic/2020-03-20-analisi-esplorativa-usl-data/index_files/figure-html/barplot%20incremento%20perc-1.png" width="672" style="display: block; margin: auto;" /></p>
</div>
<div id="andamento-casi-per-singolo-comune" class="section level3">
<h3>Andamento casi per singolo Comune</h3>
<p>Sotto è riportato il numero complessivo di casi di terapia intensiva, ricovero e domicilio per ogni Comune. Come ci si poteva aspettare il maggior numero di casi è stato registrato nelle principali città.</p>
<p><img src="/covid19/infographic/2020-03-20-analisi-esplorativa-usl-data/index_files/figure-html/trend%20luoghi-1.png" width="672" style="display: block; margin: auto;" /></p>
</div>
<div id="suddivisione-dei-comuni-per-zona-distretto-di-appartenenza" class="section level3">
<h3>Suddivisione dei Comuni per <em>zona-distretto</em> di appartenenza</h3>
<p>In questa sezione le visualizzazioni raggruppano tra loro i Comuni afferenti ad una medesima <em>zona-distretto</em>, come definita sul sito dell’<strong>Azienda Usl Toscana Nord Ovest</strong> a questo <a href="https://www.uslnordovest.toscana.it/azienda/1487-zone-distetto-2">link</a>).</p>
<p><img src="/covid19/infographic/2020-03-20-analisi-esplorativa-usl-data/index_files/figure-html/plot%20zone%20senza%20pallini%20verdi-1.png" width="672" style="display: block; margin: auto;" /></p>
</div>
</div>
<div id="references" class="section level2">
<h2>References</h2>
<p>I dati sono stati recuperati manualmente dai bollettini pubblicati dall’<strong>Azienda Usl Toscana Nord Ovest</strong> disponibili ai seguenti link:</p>
<table class="table" style="margin-left: auto; margin-right: auto;">
<thead>
<tr>
<th style="text-align:left;">
data
</th>
<th style="text-align:left;">
fonte
</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;">
2020-02-27
</td>
<td style="text-align:left;">
<a href="https://www.uslnordovest.toscana.it/notizie/4681-aggiornamento-situazione-coronavirus-covid-19-bollettino-di-giovedi-27-febbraio-2020-ore-13-30" class="uri">https://www.uslnordovest.toscana.it/notizie/4681-aggiornamento-situazione-coronavirus-covid-19-bollettino-di-giovedi-27-febbraio-2020-ore-13-30</a>
</td>
</tr>
<tr>
<td style="text-align:left;">
2020-02-29
</td>
<td style="text-align:left;">
<a href="https://www.uslnordovest.toscana.it/notizie/4693-aggiornamento-situazione-coronavirus-covid-19-bollettino-di-sabato-29-febbraio-2020-ore-13-30" class="uri">https://www.uslnordovest.toscana.it/notizie/4693-aggiornamento-situazione-coronavirus-covid-19-bollettino-di-sabato-29-febbraio-2020-ore-13-30</a>
</td>
</tr>
<tr>
<td style="text-align:left;">
2020-03-01
</td>
<td style="text-align:left;">
<a href="https://www.uslnordovest.toscana.it/notizie/4696-aggiornamento-situazione-coronavirus-covid-19-bollettino-di-domenica-1-marzo-2020-ore-13-30-unico-bollettino-della-giornata-in-assenza-di-urgenze" class="uri">https://www.uslnordovest.toscana.it/notizie/4696-aggiornamento-situazione-coronavirus-covid-19-bollettino-di-domenica-1-marzo-2020-ore-13-30-unico-bollettino-della-giornata-in-assenza-di-urgenze</a>
</td>
</tr>
<tr>
<td style="text-align:left;">
2020-03-02
</td>
<td style="text-align:left;">
<a href="https://www.uslnordovest.toscana.it/notizie/4705-aggiornamento-situazione-coronavirus-covid-19-bollettino-di-lunedi-2-marzo-2020-ore-18-31" class="uri">https://www.uslnordovest.toscana.it/notizie/4705-aggiornamento-situazione-coronavirus-covid-19-bollettino-di-lunedi-2-marzo-2020-ore-18-31</a>
</td>
</tr>
<tr>
<td style="text-align:left;">
2020-03-03
</td>
<td style="text-align:left;">
<a href="https://www.uslnordovest.toscana.it/notizie/4709-aggiornamento-situazione-coronavirus-covid-19-bollettino-di-martedi-3-marzo-2020-ore-13-30" class="uri">https://www.uslnordovest.toscana.it/notizie/4709-aggiornamento-situazione-coronavirus-covid-19-bollettino-di-martedi-3-marzo-2020-ore-13-30</a>
</td>
</tr>
<tr>
<td style="text-align:left;">
2020-03-03
</td>
<td style="text-align:left;">
<a href="https://www.uslnordovest.toscana.it/notizie/4714-chiusura-precauzionale-del-pronto-soccorso-di-pontremoli" class="uri">https://www.uslnordovest.toscana.it/notizie/4714-chiusura-precauzionale-del-pronto-soccorso-di-pontremoli</a>
</td>
</tr>
<tr>
<td style="text-align:left;">
2020-03-03
</td>
<td style="text-align:left;">
<a href="https://www.uslnordovest.toscana.it/notizie/4715-livorno-in-rianimazione-un-uomo-positivo-al-coronavirus" class="uri">https://www.uslnordovest.toscana.it/notizie/4715-livorno-in-rianimazione-un-uomo-positivo-al-coronavirus</a>
</td>
</tr>
<tr>
<td style="text-align:left;">
2020-03-04
</td>
<td style="text-align:left;">
<a href="https://www.uslnordovest.toscana.it/notizie/4722-aggiornamento-situazione-coronavirus-covid-19-bollettino-di-mercoledi-4-marzo-2020-ore-18-30" class="uri">https://www.uslnordovest.toscana.it/notizie/4722-aggiornamento-situazione-coronavirus-covid-19-bollettino-di-mercoledi-4-marzo-2020-ore-18-30</a>
</td>
</tr>
<tr>
<td style="text-align:left;">
2020-03-05
</td>
<td style="text-align:left;">
<a href="https://www.uslnordovest.toscana.it/notizie/4729-aggiornamento-situazione-coronavirus-covid-19-bollettino-di-giovedi-5-marzo-2020-ore-18-00" class="uri">https://www.uslnordovest.toscana.it/notizie/4729-aggiornamento-situazione-coronavirus-covid-19-bollettino-di-giovedi-5-marzo-2020-ore-18-00</a>
</td>
</tr>
<tr>
<td style="text-align:left;">
2020-03-05
</td>
<td style="text-align:left;">
<a href="https://www.uslnordovest.toscana.it/notizie/4730-errata-corrige-aggiornamento-situazione-coronavirus-covid-19-bollettino-di-giovedi-5-marzo-2020-ore-18-00-il-caso-6-cittadino-di-38-anni-ricoverato-a-cisanello-e-residente-nel-comune-di-san-giuliano-terme-e-non-in-quello-di-pisa-sono-3-quindi-i-pazienti-residenti-nel-comune-di-san-giuliano-terme-la-modifica-e-evidenziata-in-grassetto-nel-bollettino" class="uri">https://www.uslnordovest.toscana.it/notizie/4730-errata-corrige-aggiornamento-situazione-coronavirus-covid-19-bollettino-di-giovedi-5-marzo-2020-ore-18-00-il-caso-6-cittadino-di-38-anni-ricoverato-a-cisanello-e-residente-nel-comune-di-san-giuliano-terme-e-non-in-quello-di-pisa-sono-3-quindi-i-pazienti-residenti-nel-comune-di-san-giuliano-terme-la-modifica-e-evidenziata-in-grassetto-nel-bollettino</a>
</td>
</tr>
<tr>
<td style="text-align:left;">
2020-03-06
</td>
<td style="text-align:left;">
<a href="https://www.uslnordovest.toscana.it/notizie/4737-aggiornamento-situazione-coronavirus-covid-19-bollettino-di-venerdi-6-marzo-2020-ore-16-00" class="uri">https://www.uslnordovest.toscana.it/notizie/4737-aggiornamento-situazione-coronavirus-covid-19-bollettino-di-venerdi-6-marzo-2020-ore-16-00</a>
</td>
</tr>
<tr>
<td style="text-align:left;">
2020-03-07
</td>
<td style="text-align:left;">
<a href="https://www.uslnordovest.toscana.it/notizie/4741-aggiornamento-situazione-coronavirus-covid-19-bollettino-di-sabato-7-marzo-2020-ore-16-30" class="uri">https://www.uslnordovest.toscana.it/notizie/4741-aggiornamento-situazione-coronavirus-covid-19-bollettino-di-sabato-7-marzo-2020-ore-16-30</a>
</td>
</tr>
<tr>
<td style="text-align:left;">
2020-03-08
</td>
<td style="text-align:left;">
<a href="https://www.uslnordovest.toscana.it/notizie/4742-aggiornamento-situazione-coronavirus-covid-19-bollettino-di-domenica-8-marzo-2020-ore-16" class="uri">https://www.uslnordovest.toscana.it/notizie/4742-aggiornamento-situazione-coronavirus-covid-19-bollettino-di-domenica-8-marzo-2020-ore-16</a>
</td>
</tr>
<tr>
<td style="text-align:left;">
2020-03-09
</td>
<td style="text-align:left;">
<a href="https://www.uslnordovest.toscana.it/notizie/4743-aggiornamento-situazione-coronavirus-covid-19-bollettino-di-lunedi-9-marzo-2020-ore-16-00" class="uri">https://www.uslnordovest.toscana.it/notizie/4743-aggiornamento-situazione-coronavirus-covid-19-bollettino-di-lunedi-9-marzo-2020-ore-16-00</a>
</td>
</tr>
<tr>
<td style="text-align:left;">
2020-03-10
</td>
<td style="text-align:left;">
<a href="https://www.uslnordovest.toscana.it/notizie/4748-aggiornamento-situazione-coronavirus-covid-19-bollettino-di-martedi-10-marzo-2020-ore-16-00" class="uri">https://www.uslnordovest.toscana.it/notizie/4748-aggiornamento-situazione-coronavirus-covid-19-bollettino-di-martedi-10-marzo-2020-ore-16-00</a>
</td>
</tr>
<tr>
<td style="text-align:left;">
2020-03-10
</td>
<td style="text-align:left;">
<a href="https://www.uslnordovest.toscana.it/notizie/4752-aggiornamento-situazione-coronavirus-covid-19-bollettino-di-mercoledi-11-marzo-2020-ore-17" class="uri">https://www.uslnordovest.toscana.it/notizie/4752-aggiornamento-situazione-coronavirus-covid-19-bollettino-di-mercoledi-11-marzo-2020-ore-17</a>
</td>
</tr>
<tr>
<td style="text-align:left;">
2020-03-11
</td>
<td style="text-align:left;">
<a href="https://www.uslnordovest.toscana.it/notizie/4752-aggiornamento-situazione-coronavirus-covid-19-bollettino-di-mercoledi-11-marzo-2020-ore-17" class="uri">https://www.uslnordovest.toscana.it/notizie/4752-aggiornamento-situazione-coronavirus-covid-19-bollettino-di-mercoledi-11-marzo-2020-ore-17</a>
</td>
</tr>
<tr>
<td style="text-align:left;">
2020-03-11
</td>
<td style="text-align:left;">
<a href="https://www.uslnordovest.toscana.it/notizie/4757-aggiornamento-situazione-coronavirus-covid-19-bollettino-di-giovedi-12-marzo-2020" class="uri">https://www.uslnordovest.toscana.it/notizie/4757-aggiornamento-situazione-coronavirus-covid-19-bollettino-di-giovedi-12-marzo-2020</a>
</td>
</tr>
<tr>
<td style="text-align:left;">
2020-03-11
</td>
<td style="text-align:left;">
<a href="https://www.uslnordovest.toscana.it/notizie/4765-aggiornamento-situazione-coronavirus-covid-19-bollettino-di-sabato-14-marzo-2020-ore-17" class="uri">https://www.uslnordovest.toscana.it/notizie/4765-aggiornamento-situazione-coronavirus-covid-19-bollettino-di-sabato-14-marzo-2020-ore-17</a>
</td>
</tr>
<tr>
<td style="text-align:left;">
2020-03-12
</td>
<td style="text-align:left;">
<a href="https://www.uslnordovest.toscana.it/notizie/4757-aggiornamento-situazione-coronavirus-covid-19-bollettino-di-giovedi-12-marzo-2020" class="uri">https://www.uslnordovest.toscana.it/notizie/4757-aggiornamento-situazione-coronavirus-covid-19-bollettino-di-giovedi-12-marzo-2020</a>
</td>
</tr>
<tr>
<td style="text-align:left;">
2020-03-13
</td>
<td style="text-align:left;">
<a href="https://www.uslnordovest.toscana.it/notizie/4763-aggiornamento-situazione-coronavirus-covid-19-bollettino-di-venerdi-13-marzo-2020" class="uri">https://www.uslnordovest.toscana.it/notizie/4763-aggiornamento-situazione-coronavirus-covid-19-bollettino-di-venerdi-13-marzo-2020</a>
</td>
</tr>
<tr>
<td style="text-align:left;">
2020-03-13
</td>
<td style="text-align:left;">
<a href="https://www.uslnordovest.toscana.it/notizie/4765-aggiornamento-situazione-coronavirus-covid-19-bollettino-di-sabato-14-marzo-2020-ore-17" class="uri">https://www.uslnordovest.toscana.it/notizie/4765-aggiornamento-situazione-coronavirus-covid-19-bollettino-di-sabato-14-marzo-2020-ore-17</a>
</td>
</tr>
<tr>
<td style="text-align:left;">
2020-03-14
</td>
<td style="text-align:left;">
<a href="https://www.uslnordovest.toscana.it/notizie/4765-aggiornamento-situazione-coronavirus-covid-19-bollettino-di-sabato-14-marzo-2020-ore-17" class="uri">https://www.uslnordovest.toscana.it/notizie/4765-aggiornamento-situazione-coronavirus-covid-19-bollettino-di-sabato-14-marzo-2020-ore-17</a>
</td>
</tr>
</tbody>
</table>
</div>
