---
title: Distribuzione per genere, età e patologie riscontrate nei casi nazionali
author: KODE srl
date: '2020-03-22'
slug: distribuzione-per-genere-età-e-patologie-riscontrate-nei-casi-nazionali
categories:
  - infographics
tags:
  - dataviz
subtitle: ''
summary: ''
authors: []
lastmod: '2020-03-22T20:25:49+01:00'
featured: no
draft: false
image:
  caption: ''
  focal_point: ''
  preview_only: yes
projects: []
---

<script src="/covid19/rmarkdown-libs/kePrint/kePrint.js"></script>
<script src="/covid19/rmarkdown-libs/htmlwidgets/htmlwidgets.js"></script>
<script src="/covid19/rmarkdown-libs/plotly-binding/plotly.js"></script>
<script src="/covid19/rmarkdown-libs/typedarray/typedarray.min.js"></script>
<script src="/covid19/rmarkdown-libs/jquery/jquery.min.js"></script>
<link href="/covid19/rmarkdown-libs/crosstalk/css/crosstalk.css" rel="stylesheet" />
<script src="/covid19/rmarkdown-libs/crosstalk/js/crosstalk.min.js"></script>
<link href="/covid19/rmarkdown-libs/plotly-htmlwidgets-css/plotly-htmlwidgets.css" rel="stylesheet" />
<script src="/covid19/rmarkdown-libs/plotly-main/plotly-latest.min.js"></script>


<div id="dati-utilizzati" class="section level2">
<h2>Dati utilizzati</h2>
<p>I dati utilizzati per le seguenti visualizzazioni sono stati recuperati dai bollettini pubblicati sul sito di <strong>Epicentro - L’epidemiologia per la sanità pubblica - Istituto Superiore di Sanità</strong> nelle date del 19 e 20 Marzo 2020 (vedi sezione <a href="#references">References</a>).</p>
<p>Tali dati si riferiscono:</p>
<ul>
<li><p>ai casi diagnosticati dai laboratori di riferimento regionale e ai decessi segnalati;</p></li>
<li><p>alle caratteristiche di 3200 pazienti deceduti e positivi al COVID-19 in Italia.</p></li>
</ul>
</div>
<div id="distribuzione-geografica-dei-casi" class="section level2">
<h2>Distribuzione geografica dei casi</h2>
<p><img src="/covid19/infographic/iss-gender-paologies/index_files/figure-html/unnamed-chunk-2-1.png" width="768" style="display: block; margin: auto;" /></p>
</div>
<div id="distribuzione-per-genere-e-eta" class="section level2">
<h2>Distribuzione per genere e età</h2>
<div id="casi-e-decessi-totali-registrati" class="section level3">
<h3>Casi e decessi totali registrati</h3>
<p>Il grafico sottostante mette a confronto il numero di casi e il numero di decessi
per infezione da coronavirus.</p>
<p><img src="/covid19/infographic/iss-gender-paologies/index_files/figure-html/unnamed-chunk-3-1.png" width="768" style="display: block; margin: auto;" /></p>
<p>Si può notare che le fasce d’età più colpite sono quelle dai 40 ai 90 anni e che il maggior numero di decessi coinvolge le fasce over 60.</p>
<p>Guardando invece la suddivisione per sesso si nota che il numero di casi e decessi è generalmente più alto negli uomini e che il picco di casi si raggiunge</p>
<ul>
<li>nella fascia 50-59 anni per le donne</li>
<li>nella fascia 70-79 per gli uomini.</li>
</ul>
<p><img src="/covid19/infographic/iss-gender-paologies/index_files/figure-html/unnamed-chunk-4-1.png" width="768" style="display: block; margin: auto;" /></p>
<p>Da notare l’eccezione nelle classi 20-29 e over 90, in cui il numero per le donne è superiore a quello degli uomini (vedi tabella sotto).</p>
<div style="margin:auto;width:50%;">

<table class="table table-striped" style="margin-left: auto; margin-right: auto;">
<thead>
<tr>
<th style="text-align:center;">
Fascia d’età
</th>
<th style="text-align:center;">
tipo
</th>
<th style="text-align:center;">
F
</th>
<th style="text-align:center;">
M
</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:center;">
20-29
</td>
<td style="text-align:center;">
Casi
</td>
<td style="text-align:center;">
732
</td>
<td style="text-align:center;">
603
</td>
</tr>
<tr>
<td style="text-align:center;">
90+
</td>
<td style="text-align:center;">
Casi
</td>
<td style="text-align:center;">
694
</td>
<td style="text-align:center;">
397
</td>
</tr>
<tr>
<td style="text-align:center;">
90+
</td>
<td style="text-align:center;">
Decessi
</td>
<td style="text-align:center;">
155
</td>
<td style="text-align:center;">
129
</td>
</tr>
</tbody>
</table>
</div>
</div>
<div id="letalita-e-percentuali-a-confronto" class="section level3">
<h3>Letalità e percentuali a confronto</h3>
<p>Nel seguente grafico vengono riportate le percentuali di casi e decessi per fascia di età con le rispettive letalità.</p>
<!-- $$ -->
<!-- \begin{equation} -->
<!-- \frac{Decessi_{[età, età+9]}}{Casi_{{[età, età+9]}}} \cdot 100 -->
<!-- \end{equation} -->
<!-- $$ -->
<p><img src="/covid19/infographic/iss-gender-paologies/index_files/figure-html/unnamed-chunk-7-1.png" width="768" style="display: block; margin: auto;" /></p>
<p>Come già visto nella sezione <a href="#totali-registrati">Totali registrati</a>, le percentuali di casi più alte sono in corrispondenza delle fasce d’età dai 40 ai 90 anni e le maggiori percentuali di decessi si registrano per le fasce over 60, dove la letalità aumenta con l’avanzare dell’età.</p>
<p>La malattia risulta inoltre essere più letale per gli uomini che per le donne.</p>
<p><img src="/covid19/infographic/iss-gender-paologies/index_files/figure-html/unnamed-chunk-8-1.png" width="768" style="display: block; margin: auto;" /></p>
</div>
</div>
<div id="decessi-e-patologie-pre-esistenti" class="section level2">
<h2>Decessi e patologie pre-esistenti</h2>
<div id="distribuzione-geografica-dei-decessi" class="section level3">
<h3>Distribuzione geografica dei decessi</h3>
<p><img src="/covid19/infographic/iss-gender-paologies/index_files/figure-html/unnamed-chunk-9-1.png" width="768" style="display: block; margin: auto;" /></p>
</div>
<div id="patologie-pregresse" class="section level3">
<h3>Patologie pregresse</h3>
<p>Nella seguente tabella sono riportate le patologie più comuni osservate nei pazienti deceduti COVID-2019 positivi (vedi bollettino del 20 Marzo 2020 in <a href="#references">References</a>).</p>
<p>Dal report dell’ISS:</p>
<blockquote>
<p><em>La tabella 1 presenta le più comuni patologie croniche pre-esistenti (diagnosticate prima di contrarre l’infezione) nei pazienti deceduti. Questo dato è stato ottenuto in 481/3200 deceduti (15.0% del campione complessivo). </em></p>
</blockquote>
<div style="margin:auto;width:50%;">

<table class="table table-hover table-striped" style="margin-left: auto; margin-right: auto;">
<thead>
<tr>
<th style="text-align:left;">
Patologia
</th>
<th style="text-align:right;">
Numero
</th>
<th style="text-align:left;">
Percentuale
</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;">
Ipertensione arteriosa
</td>
<td style="text-align:right;">
355
</td>
<td style="text-align:left;">
73.8%
</td>
</tr>
<tr>
<td style="text-align:left;">
Diabete mellito
</td>
<td style="text-align:right;">
163
</td>
<td style="text-align:left;">
33.9%
</td>
</tr>
<tr>
<td style="text-align:left;">
Cardiopatia ischemica
</td>
<td style="text-align:right;">
145
</td>
<td style="text-align:left;">
30.1%
</td>
</tr>
<tr>
<td style="text-align:left;">
Fibrillazione atriale
</td>
<td style="text-align:right;">
106
</td>
<td style="text-align:left;">
22%
</td>
</tr>
<tr>
<td style="text-align:left;">
Insufficienza renale cronica
</td>
<td style="text-align:right;">
97
</td>
<td style="text-align:left;">
20.2%
</td>
</tr>
<tr>
<td style="text-align:left;">
Cancro attivo negli ultimi 5 anni
</td>
<td style="text-align:right;">
94
</td>
<td style="text-align:left;">
19.5%
</td>
</tr>
<tr>
<td style="text-align:left;">
BPCO
</td>
<td style="text-align:right;">
66
</td>
<td style="text-align:left;">
13.7%
</td>
</tr>
<tr>
<td style="text-align:left;">
Demenza
</td>
<td style="text-align:right;">
57
</td>
<td style="text-align:left;">
11.9%
</td>
</tr>
<tr>
<td style="text-align:left;">
Ictus
</td>
<td style="text-align:right;">
54
</td>
<td style="text-align:left;">
11.2%
</td>
</tr>
<tr>
<td style="text-align:left;">
Epatopatia cronica
</td>
<td style="text-align:right;">
18
</td>
<td style="text-align:left;">
3.7%
</td>
</tr>
</tbody>
</table>
<p><em>La somma delle percentuali non dà il 100% in quanto un paziente poteva presentare più patologie o non presentarne affatto.</em></p>
</div>
<p><img src="/covid19/infographic/iss-gender-paologies/index_files/figure-html/unnamed-chunk-11-1.png" width="768" style="display: block; margin: auto;" /></p>
<p>La patologia più presente nel campione è l’ <em>Ipertensione arteriosa</em>, che coivolgeva ben il <em>73.8%</em> dei pazienti.</p>
<p>Solo l’ 1.2% dei pazienti nel campione non presentava nessuna patologia pre-esistente.</p>
<div style="margin:auto;width:50%;">

</div>
<div style="width:70%;margin:auto;">
<div id="htmlwidget-1" style="width:450px;height:250px;" class="plotly html-widget"></div>
<script type="application/json" data-for="htmlwidget-1">{"x":{"visdat":{"3158529a7fbb":["function () ","plotlyVisDat"]},"cur_data":"3158529a7fbb","attrs":{"3158529a7fbb":{"labels":{},"values":{},"marker":{"colors":["#F8BAD0FF","#F06192FF","#E91E63FF","#C1185AFF"]},"text":{},"hoverinfo":"text+percent","textfont":{"size":15},"alpha_stroke":1,"sizes":[10,100],"spans":[1,20],"type":"pie","hole":0.6,"textposition":"outside","inherit":true}},"layout":{"width":450,"height":250,"margin":{"b":40,"l":60,"t":25,"r":10},"showlegend":false,"paper_bgcolor":"rgba(0,0,0,0)","plot_bgcolor":"rgba(0,0,0,0)","modebar":{"bgcolor":"rgba(255,255,255,1)","color":"rgba(0,0,0,1)"},"xaxis":{"showgrid":false,"zeroline":false,"showticklabels":false},"yaxis":{"showgrid":false,"zeroline":false,"showticklabels":false},"hovermode":"closest"},"source":"A","config":{"showSendToCloud":false},"data":[{"labels":["0","1","2","3+"],"values":[1.2,23.5,26.6,48.6],"marker":{"color":"rgba(31,119,180,1)","colors":["#F8BAD0FF","#F06192FF","#E91E63FF","#C1185AFF"],"line":{"color":"rgba(0,0,0,0)"}},"text":["0 patologie","1 patologie","2 patologie","3+ patologie"],"hoverinfo":["text+percent","text+percent","text+percent","text+percent"],"textfont":{"size":15},"type":"pie","hole":0.6,"textposition":["outside","outside","outside","outside"],"frame":null}],"highlight":{"on":"plotly_click","persistent":false,"dynamic":false,"selectize":false,"opacityDim":0.2,"selected":{"opacity":1},"debounce":0},"shinyEvents":["plotly_hover","plotly_click","plotly_selected","plotly_relayout","plotly_brushed","plotly_brushing","plotly_clickannotation","plotly_doubleclick","plotly_deselect","plotly_afterplot"],"base_url":"https://plot.ly"},"evals":[],"jsHooks":[]}</script>
</div>
</div>
</div>
<div id="references" class="section level2">
<h2>References</h2>
<ul>
<li><p><a href="https://www.epicentro.iss.it/coronavirus/bollettino/Bollettino%20sorveglianza%20integrata%20COVID-19_19-marzo%202020.pdf" class="uri">https://www.epicentro.iss.it/coronavirus/bollettino/Bollettino%20sorveglianza%20integrata%20COVID-19_19-marzo%202020.pdf</a></p></li>
<li><p><a href="https://www.epicentro.iss.it/coronavirus/bollettino/Report-COVID-2019_20_marzo.pdf" class="uri">https://www.epicentro.iss.it/coronavirus/bollettino/Report-COVID-2019_20_marzo.pdf</a></p></li>
</ul>
</div>
